{% extends 'base.html.twig' %}

{% block title %} service Clés minutes sur Metz  {% endblock %}
{% block meta %}
<meta name="description" content="On est spécialisé dans la réparation et le duplicata de clé , nous sommes la solution pour tous vos problèmes de clés !">
{% endblock %}
{% block body %}





<div id="hero-image-navbar-trigger"  >

</div>
<div  class="hero-container">
    <img  src=" {{ asset("build/services/clefminute/anahtarBeyazFon.jpg") }} " alt="key">
    <div id="clesMinuteTopCard" class="card rellax" >
        <div class="card-body ">
            <div class="yav-card-title-container" >
                <div class="yav-card-title yav-underline" >
                    Cles Minute Metz <br>Répar’&Go
                </div>
            </div>
            <div style="height: 25%;" class="card-small-txt-container">
                <div class="card-small-txt">On est spécialisé dans la réparation et le duplicata de clés , nous sommes la solution pour tous vos problèmes de clés !

                </div>
            </div>
        </div>
    </div>

    <div id="clesMinuteTopCard2" class="clesMinuteTabPrix "  >
        <div class="card-body ">
            <div style="height: 75%" class="yav-card-title-container" >
                <div class="yav-card-title yav-underline"  style="font-size: 22px;
    text-align: initial;
    font-weight: 500;">
                    <table class="tablePrixClesMinute">
                        <tr>
                            <td> <i class="fa fa-key" aria-hidden="true"></i>
                                Plate</td>
                            <td>6€</td>
                        </tr>
                        <tr>
                            <td> <i class="fa fa-key" aria-hidden="true"></i>
                                A gorge</td>
                            <td>14€</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-key" aria-hidden="true"></i>
                                A point</td>
                            <td>28€</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-key" aria-hidden="true"></i>
                                Clés de voiture </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-key" aria-hidden="true"></i>
                                Clés spéciales</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-key" aria-hidden="true"></i>
                                Clés à numéro</td>
                            <td></td>
                        </tr>

                    </table>

                </div>
            </div>
            <div style="height: 25%;" class="card-small-txt-container">
                <div class="card-small-txt">


                </div>
            </div>
        </div>
    </div>
</div>

<div  id="firstContainer"  class="yav-container">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-6 col-md-8 " >
                <h1 class="clesMinuteH1First">Service Clés minute sur Metz </h1>
            </div>
        </div>
        <figure class="birCokAnahtar "> <img style="width: 386px;"  src="{{ asset("build/services/clefminute/evAnahtari.png") }}" alt="cles" ></figure>
    </div>
</div>
</div>

<div class="smoothCard-container">
    <div  class="smoothCard">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <div class="smoothCard-title">Disponibilité</div>
        <div class="smoothCard-text">
            Nous sommes ouvert du lundi au samedi.
        </div>
    </div>
    <div  class="smoothCard">
        <i class="fa fa-key" aria-hidden="true"></i>
        <div class="smoothCard-title">Polyvalence</div>
        <div class="smoothCard-text">
            Nous effectuons des duplicatas de différents types de clés
        </div>
    </div>
    <div  class="smoothCard">
        <i class="fa fa-smile-o" aria-hidden="true"></i>
        <div class="smoothCard-title">Courtoisie</div>
        <div class="smoothCard-text">
            En plus de la qualité de nos prestations, nous mettons un point d’honneur à toujours nous montrer aimables et professionnels avec chacun de nos clients.
            En effet, nous pensons qu’une ambiance de travail sereine est profitable pour tous.
        </div>
    </div>
</div>



<div class="row" style="width: 100%">
  <div class="small-center-info">Pour toute <strong> demande spécifique </strong>  contactez nous <span class="phoneSpan"> 0387749801 <i class="fas fa-phone"></i></span></div>
</div>



<div class="hero-container-ClesDeux" style="">
    <img  src="{{ asset("build/services/clefminute/anahtarDelik1.jpg") }}  ">
    <div class="card rellax"  >
        <div class="card-body hero-container-ClesDeux-cardBody">
            <div  class="yav-card-text-container" >
                <div class="yav-card-title" >
                    Reproduction de clés :
                </div>
                <div class="card-small-txt">
                    Nous réalisons les clés suivantes : plate, à gorge, clés de voiture,
                    clés spéciales, clés protégées, clés à numéro. <br> <br>
                    Nous réalisons en quelques minutes vos reproductions de clés, grâce à un grand choix de modèles de clés différentes et un stock important. Vous repartez immédiatement avec vos nouvelles clés. <br>
                    Clé brevetée : En cas de perte, la clé brevetée peut être reproduite sur commande, un délai de un à plusieurs jours est nécessaire selon les disponibilités fournisseurs.
                    <br>

                </div>
            </div>
        </div>
    </div>


</div>






<div class="yav-gallarie">
    <div class="yav-gallarie-title">
        Voici certaines photos de chez nous
    </div>
        <div class="yav-gallarie-photo-container">
            <img src="{{ asset("build/services/imageBoutique/lesCles.jpg") }} ">
            <img src="{{ asset("build/services/imageBoutique/clefFabric.jpg") }} ">
            <img src="{{ asset("build/services/imageBoutique/machine.png") }} ">
            <img src="{{ asset("build/services/imageBoutique/koltuk.jpg") }} ">
            <img src="{{ asset("build/services/imageBoutique/imageBoutique.png") }} ">
            <img src="{{ asset("build/services/imageBoutique/bureau.jpg") }} ">

        </div>
</div>







<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
{{ encore_entry_script_tags('service_clesMinute') }}



{% endblock %}
