{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset("css/tamponImpression.css") }}"  >

<div  id="hero-image-navbar-trigger" ></div>

<div class="row" style="width: 100%">
    <div class="bigCenterTitle"> Tampon Gravure & Impimerie</div>
</div>


<div  class="yav-container" >
    <div class="container">
        <div class="canRq-container">
            <div class="canRq-left-content">
                <div class="canRq-img">
                    <img src="{{ asset("images/services/tamponImpression/thanksPembe.jpg") }}">
                </div>
                <div class="text-Container">
                    <div class="canRq-title">
                        Demandez un devis rapide
                    </div>
                    <div class="canRq-text">
                        Faites appel à notre équipe pour créer des documents
                        qui vous ressemblent : cartes de visites, flyers, affiches,
                        CV,… nous vous proposons des créations graphiques et des
                        impressions qui répondent à votre charte graphique. COPIE CONFORME
                        répond à vos devis sous 24h grâce à la demande de devis en ligne
                        simple et gratuit.
                    </div>
                </div>
            </div>

            <div class="canRq-right-content" >
                <div class="text-Container">
                    <div class="canRq-title">
                        Une offre spéciale pour vous !
                    </div>
                    <div class="canRq-text">
                        Que ce soit pour les étudiants ou les entreprises, nous pouvons répondre à toutes vos demandes.
                        Boostez l'activité de votre entreprise et créez des supports de communications qui vous correspondent !
                        Imprimez des dossiers de qualités pour vos rapports de fin d'étude avec des reliures adaptées.
                    </div>
                </div>
                <div class="canRq-img">
                    <img src="{{ asset("images/services/tamponImpression/qrYesil.jpg") }}">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="width: 100%">
    <div class="small-center-info-tampon">Pour tout <strong> demande spécifique </strong>  contactez nous <span class="phoneSpan">  07 83 61 62 16 <i class="fas fa-phone"></i></span></div>
</div>

<div class="tamponW100-container">

    <div  class="hero-container">
        <img  src="{{ asset("images/services/tamponImpression/kagitZeytin.jpg") }}">
    </div>


    <div  class="yav-container" >
        <div class="container">
            <div class="canSq-container">
                <div class="canSq-row">
                    <div class="canSq-cell">
                        <div class="canSq-img"> <img src="{{ asset("images/services/tamponImpression/zeytinDali.jpg") }}"> </div>
                    </div>
                    <div class="canSq-cell">
                        <div class="canSq-content right">
                            <div class="canSq-title">FABRICATION DE TAMPONS EN 24H</div>
                            <div class="canSq-text">Confiez-nous la confection de vos tampons, cachets cire,
                                timbres secs ou fers à dorer. La fabrication se fait sur place, avec une grande précision
                                et dans un délai de 24 h.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canSq-row">
                    <div class="canSq-cell">
                        <div class="canSq-content left">
                            <div class="canSq-title">DES PRODUITS DE QUALITE IRREPROCHABLE </div>
                            <div class="canSq-text">
                                Vous souhaitez renouveler vos tampons d’associations ou de bureaux ? Faites-nous confiance, nous sommes forts dans la création et la fabrication de tampons. Professionnels dans le métier, nous vous assurons la qualité au meilleur prix. Tous nos produits sont conçus pour vous apporter le meilleur confort d’utilisation.
                            </div>
                        </div>
                    </div>
                    <div class="canSq-cell">
                        <div class="canSq-img"> <img src="{{ asset("images/services/tamponImpression/yesilTablo.jpg") }}"> </div>
                    </div>
                </div>
                <div class="canSq-row">
                    <div class="canSq-cell">
                        <div class="canSq-img"> <img src="{{ asset("images/services/tamponImpression/zarf.jpg") }}"> </div>
                    </div>
                    <div class="canSq-cell">
                        <div class="canSq-content right">
                            <div class="canSq-title">ESTHETIQUE</div>
                            <div class="canSq-text">Nous vous fournissons des cachets répondant à vos exigences techniques et esthétiques.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canSq-row">
                    <div class="canSq-cell">
                        <div class="canSq-content left">
                            <div class="canSq-title">UN VÉRITABLE OUTIL DE TRAVAIL</div>
                            <div class="canSq-text">Un tampon encreur reste un outil de travail indispensable au sein d’une entreprise afin de valider ou reconnaitre des informations. Il permet de vous authentifier et de mettre en valeur à moindre coût. Afin d’optimiser le tampon pas cher, vous avez même la possibilité de changer que l’empreinte et garder son mécanisme
                            </div>
                        </div>
                    </div>
                    <div class="canSq-cell">
                        <div class="canSq-img"> <img src="{{ asset("images/services/tamponImpression/canonMakine.jpg") }}"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

