{% extends 'base.html.twig' %}

{% block title %}Hello PhoneController!{% endblock %}

{% block body %}
    <style>
        .rental-manager-progress-bar-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 10px solid #024a92;
            padding-top: 15px;
            margin-top: 55px;
        }


        .active{
            background-color: #fff !important;
        }

        .rental-manager-progress-bar-container div {
            background-color: #024a92;
            font-weight: bold;
            color: #7ea5cc;
            border: 2px solid #024a92;
            margin-top: -45px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            z-index: 99;
        }
    </style>

    <div class="col"></div>
    <div id="hero-image-navbar-trigger" style="height: 5vh;margin-bottom: 10vh"></div>

    <div class="container">
        <div class="rental-manager-progress-bar-container">
            <div class="active">1</div>
            <div class="active">2</div>
            <div>3</div>
            <div>4</div>
            <div>4</div>
            <div>4</div>
            <div>5</div>
        </div>
    </div>


    <div class="phone-conainer">

        {% for produit in produits %}
        <a href="{{ path("produit_show", {'id':produit.id }) }}" style="    color: #3a4658;text-decoration: none;">
        <div class="phone-card">
            <div class="phone-card-img">
              <img src="{{ asset("build/product_images/" ~ produit.image ) }}" alt="{{ produit.image }}">
            </div>
            <div class="phone-card-text"  > {{ produit.marque.nom }}  {{ produit.serie.nom }}  {{ produit.model }} </div>
        </div>
        </a>
        {% endfor %}


    </div>

{% endblock %}
