{% extends 'base.html.twig' %}

{% block title %}Répareration {{ produit.nom }} : Repar and go sur Metz {% endblock %}
{% block meta %}
<meta name="description" content="Réparation de téléphone {{ produit.nom }}  metz ">
<meta name="keywords" content="Réparation rapide {{ produit.marque.nom }} Metz Repar and go " />

{% endblock %}
{% block body %}


    <div class="container container-resp-w100">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                <h5 class="responsivePadding rp-txt-45 mt-5"> Vous avez <span class="text-primary">5%</span>  de réduction si vous avez une compte Repar'& Go</h5>
                <p class="text-muted  responsivePadding rp-txt-45"> <small> <em class="inforProduitShow "> Inscrition est gratuit, qu'attendez vous ? :) <a class="inscrivezVousLink" href="{{ path('registration') }}"> inscrivez-vous  </a>  </em> </small>  </p>
            </div>

        </div>
        <div class="row responsivePadding">
            <div  class=" col-lg-6 col-md-12 col-sm-12 col-12 position-relative" id="imageCol" style=" min-height: 550px;">
                <img   id="social-float" src="{{ asset("images/product_images/" ~ produit.image ) }}" alt="{{ produit.image }}">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="row mt-5">
                    <h1> Réparation {{  produit.marque.nom }} {{ produit.serie.nom }} {{ produit.model }}</h1>
                </div>
                <div class="row">
                    <p class="fw-light m-0 showProduitGaranties">Tout les réparations en sous garantie  <i style="background: #56cc56;color: white;font-size: 14px;padding: 4px;border-radius: 5px;" class="fa fa-check" aria-hidden="true"></i> </p>
                    <p class="fw-light">Réparation à partir de  10 minutes <i style="background: #56cc56;color: white;font-size: 14px;padding: 4px;border-radius: 5px;" class="fa fa-check" aria-hidden="true"></i> </p>
                </div>


                <h3>Nos interventionsss</h3>
                <hr />

                <form action="{{ path('edit_interventions_produit', {'id':produit.id}) }}" method="post">
                    {% for intervention in  all_interventions %}
                        <div class="card  w-100">
                            <div class="row no-gutters me-2">

                                <div class="col-sm-3 align-items-center justify-content-center d-flex">
                                    <button type="button" class="btn btn-sm btn-danger">-</button>
                                </div>
                                <div class="col-sm-9 mt-3">
                                    <div class="card-body p-0">
                                        <div class="row ">
                                            <div class="col-9 align-items-center ">
                                                <p class="fw-light interventionNameProduitShow" >{{ intervention.nom }}</p>
                                            </div>
                                            <div class="col-3 align-items-center ">
                                                <h4 class=" float-end position-relative" >
                                                    <input  name="edit_intervention[]" hidden class="form-control" value="{{ intervention.id }}">
                                                    <input name="edit_intervention[]" class="form-control" value="{{ produit.prixOfInter(intervention.id) }}">
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <button type="submit" class="btn btn-success mt-4" name="btnSubmit">Submit</button>
                </form>


            </div>
        </div>

        <div id="abc" class="d-flex justify-content-center align-items-center">
            <div class="card w-100 mt-5 mb-5 shadow rounded" style="border:none; ;
;
">
                <div class="row no-gutters me-2">
                    <div class="col-sm-3 align-items-center justify-content-center d-flex p-2">
                        <img style=" width:150px;clip-path:ellipse(50% 50%);" src="{{ asset('build/services/imageBoutique/reparOrdi.jpg') }}">
                    </div>
                    <div class="col-sm-9 mt-3">
                        <div class="card-body p-0 ">
                            <figure>
                                <blockquote class="blockquote">
                                    <h4>Une réparation de qualité.</h4>
                                </blockquote>
                                <figcaption class="blockquote-footer">
                                    Nos techniciens sont <cite title="Source Title"> certifié et qualifié</cite> pour répondre à vos problèmes
                                </figcaption>
                            </figure>
                            <div class="ms-4">
                                <i class="fa fa-star fa-2x text-warning me-3" aria-hidden="true"></i>
                                <i class="fa fa-star fa-2x text-warning me-3" aria-hidden="true"></i>
                                <i class="fa fa-star fa-2x text-warning me-3" aria-hidden="true"></i>
                                <i class="fa fa-star fa-2x text-warning me-3" aria-hidden="true"></i>
                                <i class="fa fa-star fa-2x text-warning" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


{#        {{ encore_entry_script_tags('page_produit') }}#}

{% endblock %}
