{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Business Stats' %}
{% block page_content %}

    <table>
        <thead>
        <tr>
            <th> Categorie </th>
            <th> Marque </th>
            <th> Serie </th>
            <th> Model </th>
        </tr>
        </thead>
        <tbody>

        {% for produit in produits %}
            <tr>
                <td>
                    {{ produit.categorie.nom }}
                </td>
                <td>
                    {{ produit.marque.nom }}
                </td>
                <td>
                    {{ produit.serie.nom }}
                </td>
                <td>
                    {{ produit.model }}
                </td>
                <td>
                    <a href="{{ path('interventions-produit', {'id': produit.id }) }}"> Les interventions produit </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}